body{
  font-family:"Yu Gothic Medium","游ゴシック Medium","游ゴシック体",YuGothic,"ヒラギノ角ゴ Pro W3",sans-serif;
}

h2{
  color:red;
  font-size:50px;
  margin-bottom:30px
}

h4{
  color:blue;
  font-size: 30px;
  margin-top:10px
}
